<!-- Full Width Column -->
<div class="content-wrapper">
    <div class="container">

      <!-- INíCIO do CONTEÚDO -->
      <section class="content-header">
      </section>


      <section class="content">

          <div class="card " style="max-width: 100%;">
              <div class="card-header "> <h5>Solicitações pacientes</h5></div>
              <div class="card-body">
                <form class="form-horizontal">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Nome </th>
                            <th>Documento</th>
                            <th>Email</th>
                            <th>Unidade</th>  
                                                
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>John Marley</td>
                            <td>511.938.360-26</td>
                            <td>john@example.com</td>
                            <td>Sim Fatima</td>
                          </tr>
                          </tbody>
                          </table>
                          </form>
                          </div>
                          </div>
                          </section>
                          </div>
                          </div>
                           

<!-- Full Width Column -->
<div class="content-wrapper">
    <div class="container">

      <!-- INíCIO do CONTEÚDO -->
      <section class="content-header">
      </section>


      <section class="content">

          <div class="card " style="max-width: 100%;">
              <div class="card-header "> <h5>Solicitações pacientes</h5></div>
              <div class="card-body">
                <form class="form-horizontal">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Nome </th>
                            <th>Documento</th>
                            <th>Email</th>
                            <th>Unidade</th>  
                                                
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>John Marley</td>
                            <td>511.938.360-26</td>
                            <td>john@example.com</td>
                            <td>Sim Fatima</td>
                          </tr>
                          </tbody>
                          </table>
                          </form>
                          </div>
                          </div>
                          </section>
                          </div>
                          </div>
                          
              