<!-- Full Width Column -->
<div class="content-wrapper">
    <div class="container">

      <!-- INíCIO do CONTEÚDO -->
      <section class="content-header">
      </section>


      <section class="content">

          <div class="card " style="max-width: 100%;">
              <div class="card-header "> 
                <div row>
                  <div class="col-ms-2">
                <h5>Solicitações do paciente/Produto</h5>
                </div>
                <div class="col-ms-1">
                    <a class="btn btn-link btn-xs" [routerLink]="['/admCadastro']">
                      <i class="glyphicon glyphicon-pencil">Voltar</i>
                     </a>
                    </div>
                </div>
              </div>
              <div class="card-body">
                <form class="form-horizontal">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Nome </th>
                            <th>Produto</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>John Marley</td>
                            <td>Coroa</td>
                          </tr>
                          </tbody>
                          </table>
                          </form>
                          </div>
                          </div>
                          </section>
                          </div>
                          </div>
                           
                          <section class="content">

                            <div class="card " style="max-width: 100%;">
                                <div class="card-header "> <h5>Produtos</h5></div>
                                <div class="card-body">
                                  <form class="form-horizontal">
                                      <table class="table table-striped">
                                          <thead>
                                            <tr>
                                              <th>Produto </th>
                                              <th>Detalhe</th>  
                                              <th>Status</th>                        
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>Coroa</td>
                                              <td>
                                                <a class="btn btn-link btn-xs" [routerLink]="['/produtosDetails']">
                                                  <i class="glyphicon glyphicon-pencil">Detalhe</i>
                                                </a>
                                            </td>
                                            <td>
                                              <span class="label label-success">Concluido</span>
                                            </td>
                                             
                                            </tr>
                                            <tr>
                                              <td>Protese</td>
                                              <td>
                                                  <a class="btn btn-link btn-xs" [routerLink]="['/produtosDetails']">
                                                    <i class="glyphicon glyphicon-pencil">Detalhe</i>
                                                  </a>
                                              </td>
                                              <td>
                                                <span class="label label-success">Concluido</span>
                                              </td>
                                            </tr>
                                            
                                          </tbody>
                                        </table>  
                                  </form>
                                </div>
                              </div>
                        </section>         
                          