<!-- Full Width Column -->
<div class="content-wrapper">
    <div class="container">

      <!-- INíCIO do CONTEÚDO -->
      <section class="content-header">
      </section>


      <section class="content">

          <div class="card " style="max-width: 100%;">
              <div class="card-header "> <h5>Solicitações pacientes</h5></div>
              <div class="card-body">
                <form class="form-horizontal">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Nome </th>
                            <th>Documento</th>
                            <th>Email</th>                         
                            <th>Ações</th>
                            <th>Status</th>                        
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>John Marley</td>
                            <td>511.938.360-26</td>
                            <td>john@example.com</td>
                            <td>
                                <a class="btn btn-link btn-xs" [routerLink]="['/admCadastro']">
                                  <i class="glyphicon glyphicon-pencil">Detalhe</i>
                                </a>
                            </td>
                            <td>
                                <span class="label label-success">Concluido</span>
                            </td>
                          </tr>
                          <tr>
                            <td>Mary Christany</td>
                            <td>995.479.880-34</td>
                            <td>mary@example.com</td>
                            <td>
                                <a class="btn btn-link btn-xs" [routerLink]="['/admCadastro']">
                                  <i class="glyphicon glyphicon-pencil">Detalhe</i>
                                </a>
                            </td>
                            <td>
                              <span class="label label-warning">Pendente</span>
                            </td>
                          </tr>
                          <tr>
                            <td>July Pepper</td>
                            <td>396.465.940-18</td>
                            <td>july@example.com</td>
                            <td>
                                <a class="btn btn-link btn-xs" [routerLink]="['/admCadastro']">
                                  <i class="glyphicon glyphicon-pencil">Detalhe</i>
                                </a>
                            </td>
                            <td>
                              <span class="label label-success">Concluido</span>
                            </td>    
                          </tr>
                        </tbody>
                      </table>  
                </form>
              </div>
            </div>
      </section>
