  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <!-- INíCIO do CONTEÚDO -->
      <section class="content-header">
      </section>


      <section class="content">

          <div class="card " style="max-width: 100%;">
              <div class="card-header "> <h5>Cadastro do paciente</h5></div>
              <div class="card-body">
                <form class="form-horizontal">
                  <div>
                  <label>Nome do paciente: </label>
                  <input type="text" class="form-control" id="nome_paciente"/>
                 </div>
                 <div>
                    <label>Cpf : </label>
                    <input type="text" class="form-control" id="cpf" placeholder="000.000.000-00"/>
                   </div>
                   
                      <div class="form-group">
                          <label for="exampleFormControlSelect1">Selecione a unidade de atendimento: </label>
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>Sim - Fatima</option>
                            <option>Sim - Via Sul</option>
                            <option>Sim - Messejana</option>
                            <option>Sim - Boa Vista</option>
                            <option>Sim - Tacaruna</option>
                          </select>
                        </div>
                     
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Atendimento a ser realizado</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Coroa</option>
                              <option>Prótese</option>
                              <option>Aparelho</option>
                            </select>
                          </div>

                          <div class="form-group">
                              <label for="exampleFormControlSelect1">Tipo de etapa a ser realizada</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>Etapa Unica</option>
                                <option>Plano Cera</option>
                                <option>Montagem de dentes</option>
                                <option>Acrilização</option>
                              </select>
                            </div>

                </form>
              </div>
            </div>
      </section>

      <!-- FIM  do CONTEÚDO -->
